name: Mypy and Pytest

on:
  push:
    branches:
      - main  # Trigger on commits to the main branch
  pull_request:
    branches:
      - main  # Trigger on pull requests targeting the main branch

jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install dependencies
        run: uv sync --dev
        
      - name: Run Mypy (Type Checking)
        run: |
          uv run mypy  # Run mypy on your project directory

  pytest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install dependencies
        run: uv sync --dev

      - name: Run Pytest (Tests)
        run: |
          uv run pytest --cov=./ --cov-report xml
      
      - name: Report results to DeepSource
        run: |
          # Tests have finished and a test coverage report is available

          # Install deepsource CLI
            curl https://deepsource.io/cli | sh

          # From the root directory, run the report coverage command
            ./bin/deepsource report --analyzer test-coverage --key python --value-file ./coverage.xml

        env:
          DEEPSOURCE_DSN: ${{ secrets.DEEPSOURCE_DSN }}
